    *{
			  margin: 0;
			  padding: 0
		  }
    body{
        font-size: 14px;color: #333;
    }
a{
    text-decoration: none!important
}
		  li{
			  list-style: none
		  }
		  .card-deck .card{
			  margin-bottom: 0!important;
		  }
        .card-deck .card{
            flex: auto;
            margin-right: 0;
            margin-left: 0;
/*            border-bottom: 1px solid #ccc*/
        }
		  .my-price{
			  color: #52b070;
			  font-size: 14px;

		  }
       .menu ul li{
            border-radius: 0!important
        }
		
/*		  thang cha*/
		  .my-submenu{  
			  display: flex;
			  flex-wrap: wrap;
			  flex-direction: inherit
		  }
/*		  thang con*/
		  .my-submenu> div{
			 flex-basis: 32%;
			  margin-right: 1%;
			  border: 1px solid #ccc;
		  }
  /*                // 2 phan tu cuoi cung*/
				.card:nth-last-child(-n+2) {border-bottom: 1px solid #ccc;} 
		  img{
			 max-width: 100%
			  
		  }
        .my-view-all{
            padding: 5px 0;
        }

        .color-fff{
            color: #fff
        }	  
        .padding5{
            padding: 5px
        }		  
        .font-weight{
            font-weight:600
        }		  
        .my-submenu-pc{
            display: none
        }
		  .my-only-pc{
			  display: none
		  }
		  .my-fz-text{
			  font-size: 15px!important;
			  line-height: 30px
		  }
		  .bt{
			  background: yellow
				  
		  }
		  .pd-top-15{
			  padding-top: 15px
		  }
			.pd-top-5{
			  padding-top: 5px
		  }	
		  .pd-5{
			  padding: 5px
		  }
		  body{
			  background: #f1f1f1
		  }
		  #my-footer{
			  background: #183544;
			  color: #fff
		  }

.my-sub-menu ul li{
    padding: 8px 0px;
}
.my-submenu-2-mobile{
    display: flex;
    flex-wrap: wrap
}
.my-submenu-2-mobile> div{
    flex-basis: 40%;
    margin-left: 2em;
    border: 1px solid #ccc;
    margin-bottom:1em;
    padding: 5px 10px;
}
.my-submenu-2-mobile>div img{
        width: 70px;
        height: 70px
    }
#li-moblie-submenu2>span .fa-chevron-down{
     -moz-transition: transform 1s;
      -webkit-transition: transform 1s;
      transition: transform 1s;
}
.flip {
  transform: rotate(-180deg);
}


		  .my-text-drop-menu{
			  background:#000;
			  color: #fff;
			  padding: 1em;margin-left: 7.5em;
			  display: none
		  }
		  .my-text-drop-menu span{
			  margin: 0 0.3em
		  }
.my-realtive{
    position: relative
}

.my-search-top input,.my-search-top button{
    border-radius: 20px
}
.my-search-top{
    padding-bottom:0.7em
}
		  .my-menu-first{
			color: #fff;
			 border-left: 1px solid #000;			 
		}
 
		  header{
			  background: #52b070;
			 
		  }
footer{
	padding: 20px 0px;
    background: #183544;
	color:#dbd4d4
}
h4{
	font-size: 18px
}
#home .img-fluid{
    margin: 10px 0
}		 
.my-zoom-btn{
    background: green;
    height: 16%;
    width: 5%;
    margin: 12% 5px;
    border-radius: 5px;
		  }
		  section{
			  background: #fff;
			  margin-top: 1.5em;
			  box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.29)
		  }

.carousel-item-prev,
.carousel-item-next,
.carousel-item.active {
    display:flex;
}
.related-item> div> div{
    margin-bottom: 1em
}

/* control image height */
.card-img-top-250 {
    max-height: 225px;
    overflow:hidden;
}

/* smoother transitions */
.carousel-inner>.carousel-item.next.left,
.carousel-inner>.carousel-item.prev.right,
{
    transition: all 1s ease;
}
.myactive{
	color: orange;
    text-decoration: none;
}