/*reponsive for mini screen special*/
.container {
    max-width: unset;
}

/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) { 
    /*reponsive for mini screen special*/
    .container {
    max-width: 1140px
}
/*    -----*/
    .my-sub-menu{
    position: absolute;
    top: 100%;
    z-index: 2;
    width: 100%;
    background-color: #17a2b8e0!important;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    display: none;
}
    .my-show-list-menu:hover .my-sub-menu{
        display: block
    }
.my-sub-menu ul li{
    padding: 8px 0px
}
.my-submenu-2{
    position: absolute;
    height: 100%;
    width: 500%;
    left: 100%;
    top: 0;
    background: white;
    visibility: hidden;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    -webkit-transition: all 0.2s;
}
   
    .my-submenu-2>div{
        display: flex;
        padding-left: 1em;
        flex-wrap: wrap
    }
    .my-submenu-2>div> div{
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding: 5px 3em;
        flex-basis: 27.788%
    }
    .my-submenu-2>div img{
        width: 80px;
        height: 70px
    }
    .my-submenu-2>div> div:last-child{
        margin-right: 0;
    }
.my-sub-menu ul li:hover{
   background-color: white;
    cursor: pointer;
    -webkit-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 16px 0px rgba(0,0,0,0.75);
    -webkit-transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    -ms-transition: all 0.2s;
                    -o-transition: all 0.2s;
                    transition: all 0.2s;
}
.my-sub-menu ul li a{
    color: black;
    padding: 8px 32px
}
    
    
    
    
     .card-deck .card{
            flex: 1 0 0%!important;
            margin-right: 15px!important;
            margin-left: 15px!important;
         max-height: 16em!important
/*            border-bottom: 1px solid #ccc*/
        }
    #section-4 .card-deck .card{
        max-height: 14em!important
    }
        .card-deck .card:nth-child(4){
            border-bottom: none!important
        }
     .card{
                /*			 neu man hinh nho thi set width*/
                /*			    width: 49%;*/
                /*			  display: inline-block!important;*/
                                      flex-grow: 0;
                    flex-basis: 50%;
                                      border: none;
                    border-top: 1px solid #ccc;
                    background-color: #fff;
                    border-right: 1px solid #ccc;
                    overflow: hidden;
                                      border-radius:0!important
                          }
    /*                // 2 phan tu cuoi cung*/
				.card:nth-last-child(-n+2) {border-bottom: none} 
                      .card-deck{
            /*			  display: inline-block!important*/

                flex-wrap: wrap;
                          flex-direction:inherit
                      }
    .card{
        border: none
    }
        .my-search-top{
        padding-bottom:0
    }   
        .my-text-drop-menu:hover{
            cursor: pointer;
            color: orange
        }
        .menu>ul>li{
            -webkit-transition: all 0.2s;
                    -moz-transition: all 0.2s;
                    -ms-transition: all 0.2s;
                    -o-transition: all 0.2s;
                    transition: all 0.2s;
        }
        .menu>ul>li:hover{
            background: darkseagreen;
            cursor: pointer;			
        }
        .xyz:hover .my-submenu-pc{display: flex}
        .cursor{
            cursor: pointer
        }

		.my-only-mobile{
			display: none
		}
		.my-only-pc{
			display: block
		}
		  
		  .my-text-drop-menu{			  
			  display: block;
		  }
        #home .my-text-drop-menu{
              margin-left: 8.5em
		  }
		.my-menu-first{
			display: none;			
		}
		.menu{
			width: 16em;
			display: block;
			position: absolute;
			z-index: 1;
			left: 7.8%
		}
		.my-submenu{
			display: none;
			position: absolute;
			left: 100%;
			top:0;
			z-index: 1;
			background: red
		}
		.my-submenu-pc{
			display: none;
			position: absolute;
			left: 100%;
			top: 0;
			background: #fff;
		}
		.my-submenu-pc> div{
			margin: 1em;
			width: 90px;			
				}
		.my-submenu-pc> div:hover{
			opacity: 0.5
		}
    #recently-viewed-products> div> div> div{
        margin-right: 0;
        background-color: white;
        border: 1px solid #ccc
    }
		  }


		  	@media (max-width: 992px)  {
				
		  		  .card{
/*			 neu man hinh nho thi set width*/
/*			    width: 49%;*/
/*			  display: inline-block!important;*/
					  flex-grow: 0;
                flex-basis: 50%;
                                  border: none;
                border-top: 1px solid #ccc;
                background-color: #fff;
                border-right: 1px solid #ccc;
                overflow: hidden;
                                  border-radius:0!important
                      }
				.card:nth-last-child(-n+2) {border-bottom: 1px solid #ccc;}
		   .card-deck{

                    flex-wrap: wrap;
                              flex-direction:inherit
                          }
		  }
		